.navbar-size {
  width: 95%;
  margin: 0 auto;
}

nav .brand-logo {
  display: flex;
  align-items: center;
}

nav .brand-logo img {
  height: 50px;
}

.main-body {
  background-color: #f28487;
  color: white;
  height: calc(100vh - 64px);
}

.materialboxed-image {
  margin: 0 auto;
  height: 400px;
}

.click-me-button {
  background-color: #ee6e73;
  margin-top: 50px;
}

.card-image {
  position: relative;
  height: 365px;
}

.card .card-image img {
  display: block;
  border-radius: 2px 2px 0 0;
  position: relative;
  left: 0;
  right: 0;
  height: 100%;
  top: 0;
  bottom: 0;
  width: 100%;
}
